@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

body {
	min-height: 2000px;
	font-size: 10px;
	min-height: 100%;
}

textarea:focus, 
textarea.form-control:focus,
select:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: inset 0 -1px 0 #ddd !important;
}

#topo {
	background: #F22E2E;
}

#topo .navbar {
	background: #F22E2E;
}

.navbar-light .navbar-toggler-icon{

}

#topo #navbarSupportedContent .navbar-nav.mx-auto li a {
	color: #fff;
	font-size: 2em;
}

#topo p {
	font-size: 1.3em;
	color: #fff;
}

#topo p i {
	color: #333;
}

#slider {
	background: #262223;
	padding: 20px 0;
}

#slider form {
	border-top: 1px #333 solid;
	border-bottom: 1px #333 solid;
	padding: 10px;
}

#slider h2 {
	font-size: 2em;
	color: #fff;
	padding: 5px 0;
	text-align: center;
}

#slider form .btn.btn-primary {
	background: #F22E2E;
	border: 0;
}

/* Content */

#content .col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
    text-align: center;
}
#content .col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

#content .col-item h1 {
	font-size: 2.7em;
	color: #D92929;
	text-decoration: overline;
	text-transform: capitalize;
}

#content .col-item h2 {
	padding: 5px;
	font-size: 2em;
	color: #D92929;
}

#content .col-item h5 {
	padding: 5px;
	color: #262223;
}

#content .separator {
	padding: 20px;
}

#content .endereco {
	background: #f00;
	margin: 0;
}

/* select options */
.wrap-drop {
background:#FFFFFF;
box-shadow:3px 3px 3px rgba(0,0,0,.2);
cursor:pointer;
margin: 10px auto 10px auto;
max-width:170px;
font-size: 1.3em;
position:relative;
width:75%;
}

.wrap-drop select {
width: 100%;
border: 0;
outline: 0;
}

.wrap-drop input[type="text"] {
width: 100%;
border: 0;
outline: 0;
padding: 10px;
}

.wrap-drop-button {
	background: #262223;
	padding: 7px; 
}

.wrap-drop-text::after {
	display: none;
}

.wrap-drop.select_options::after {
border-color:#695d52 transparent;
border-style:solid;
border-width:10px 10px 0;
content:"";
height:0;
margin-top:-4px;
position:absolute;
right:1rem;
top:50%;
width:0;
}

.wrap-drop .drop {
background:#e7ded5;
box-shadow:3px 3px 3px rgba(0,0,0,.2);
display:none;
left:0;
list-style:none;
margin-top:0;
opacity:0;
padding-left:0;
pointer-events:none;
position:absolute;
right:0;
top:100%;
z-index:2;
}

.wrap-drop .drop li a {
font-size: 1.3em;
color:#695d52;
display:block;
padding:1rem;
text-decoration:none;
}

.wrap-drop span {
color:#928579;
font-size: 1.3em;
}

.wrap-drop .drop li:hover a {
background-color:#695d52;
color:#e7ded5;
z-index: 5;
}

.wrap-drop.active::after {
border-width:0 10px 10px;
z-index: 5;
}

.wrap-drop.active .drop {
display:block;
opacity:1;
pointer-events:auto;
z-index: 5;
}

/* Footer */

footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footer-col { margin-top:50px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footer-col p { color:#fff; font-size:12px; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footer-col p i { width:20px; color:#999;}

.footer-ul { list-style-type:none;  padding-left:0; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
.social-icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: blue;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    padding-top: 7px;
    border-radius: 50%;
}
 .footer-social li{
     float:left;
 }
 .linked-in{
     background-color:#007bb6;
 }
 .facebook{
     background-color:#3b5998;
 }
 .twitter{
     background-color:#1da1f2;
 }
 .google{
     background-color:#f63e28;
 }

/* Newsletter */

.home-newsletter {
padding: 80px 0;
background: #F28080;
}

.home-newsletter .single {
max-width: 650px;
margin: 0 auto;
text-align: center;
position: relative;
z-index: 2; }
.home-newsletter .single h2 {
font-size: 22px;
color: #262223;
text-transform: uppercase;
margin-bottom: 40px; }
.home-newsletter .single .form-control {
height: 50px;
background: rgba(255, 255, 255, 0.6);
border-color: transparent;
border-radius: 20px 0 0 20px; }
.home-newsletter .single .form-control:focus {
box-shadow: none;
border-color: #243c4f; }
.home-newsletter .single .btn {
min-height: 50px; 
border-radius: 0 20px 20px 0;
background: #243c4f;
color: #fff;
}